<div class="login-container">
  <h2 style="text-align: center;">Iniciar Sesión</h2>
  <form (ngSubmit)="login()">
    <mat-form-field appearance="outline">
      <mat-label>Nombre de Usuario</mat-label>
      <input
        matInput
        id="username"
        type="text"
        [(ngModel)]="nombreUsuario"
        name="nombreUsuario"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        id="password"
        type="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" class="action-button">
      Ingresar
    </button>    
  </form>
</div>