<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <ng-container *ngIf="authService.isLoggedIn(); else loggedOut">
    <button mat-button (click)="goToAdmin()">Administración</button>
    <button mat-button (click)="logout()">Cerrar Sesión</button>
  </ng-container>
  <ng-template #loggedOut>
    <button mat-button (click)="goToLogin()">Iniciar Sesión</button>
    <button mat-button (click)="goToRegister()">Registrarse</button>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
