.user-management-container {
    padding: 24px;
  }
  
  table {
    width: 100%;
    margin-top: 16px;
  }
  
  .mat-column-acciones {
    display: flex;
    justify-content: space-around;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }
  